<section class="container social-container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-right">
      {% assign page_full_url = page.url | prepend: site.baseurl | prepend: site.url %}

      <a target="_blank" class="social-icon" href="https://twitter.com/home?status={{ page.title }} {{ page_full_url }}"><i class="fa fa-twitter"></i></a>
      <a target="_blank" class="social-icon" href="https://www.facebook.com/sharer/sharer.php?u={{ page_full_url }}"><i class="fa fa-facebook"></i></a>
      <a target="_blank" class="social-icon" href="https://plus.google.com/share?url={{ page_full_url }}"><i class="fa fa-google-plus"></i></a>
      <a target="_blank" class="social-icon" href="https://www.reddit.com/submit?url={{ page_full_url }}"><i class="fa fa-reddit"></i></a>
    </div>
  </div>
</section>
