---
layout: default
---
<div class="catalogue">
  {% for post in site.categories.projects %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>

  			{% if post.github %}
  			<div class="project-excerpt">
  				<img class="link" alt="Latest release" src="https://img.shields.io/github/v/tag/{{ post.github }}?include_prereleases&label=release&style=for-the-badge">
  				<img class="link" alt="GitHub Stars" src="https://img.shields.io/github/stars/{{ post.github }}?style=for-the-badge&logo=github">
  			</div>
  			{% endif %}

        <p>
          {{ post.excerpt | strip_html }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>
